.ftco-section {
  padding: 7em 0;
}
@media (min-width: 768px) {
  .order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
}
.text-wrap {
  white-space: normal !important;
}
.text-wrap, .login-wrap {
  width: 50%;
}
.text-wrap {
  background: -moz-linear-gradient(-45deg, #1a98ff 0%, #007bff 100%);
  background: -webkit-linear-gradient(-45deg, #1a98ff 0%, #007bff 100%);
  background: -o-linear-gradient(-45deg, #1a98ff 0%, #007bff 100%);
  background: -ms-linear-gradient(-45deg, #1a98ff 0%, #007bff 100%);
  background: -webkit-linear-gradient(-45deg, #1a98ff 0%, #007bff 100%);
  background: -o-linear-gradient(-45deg, #1a98ff 0%, #007bff 100%);
  background: linear-gradient(-45deg, #1a98ff 0%, #007bff 100%);
  color: #fff;
}
.login-wrap {
  position: relative;
  background: #fff;
}
.outline-white-btn {
  background: transparent;
  border: 1.5px solid #ffffff;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  padding: 11px 40px;
  font-size: 0.875rem;
  line-height: 1.35em;
  border-radius: 0.25rem;
  color: #FFFFFF;
  text-decoration: none;
}
.outline-white-btn:hover {
  border: 1.2px solid #ffffff;
  box-shadow: 1px 1px 1px 1px #8f8f8f;
  color: #FFFFFF;
}
.wrap {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}
.text-not-registered {
  font-size: 0.9rem;
}
.decoration-none {
  text-decoration: none;
}